@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue-background: #06366f;
  --light-blue-background: #e9f1f8;
  --yellow-button-background: #e0cc00;
  --base-text: #182f43;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --dark-blue: var(--dark-blue-background);
  --yellow: var(--yellow-button-background);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  margin: 0 auto;
}
